/**/node_modules
/**/dist
/**/.gitignore
/**/.env*
/**/.next
/**/Dockerfile
/**/.dockerignore
/**/*.md
/**/*.yaml
/**/*.yml

/manifests
/.vscode
/.github
/.husky

!pnpm-lock.yaml
!pnpm-workspace.yaml
